body {
  font-family: "Lato", sans-serif !important;
}

/* Layout */
.ant-row {
  align-items: center;
}

.ant-col {
  padding: 5px 0;
}

.ant-modal {
  width: 400px !important;
}

.ant-modal-content {
  border-radius: 0 !important;
  height: 100%;
}

/* Header */
.layout .header {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  display: block;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 5px 10px;
}

.layout .breadcrumb,
.layout .content {
  padding: 0 10px;
}

.layout .banner {
  padding: 5px 10px;
}

.layout .header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.divider {
  border-right: 1px solid #ddd;
}

.layout .header .logo img {
  background-size: contain;
  width: auto;
}

.layout .header .search {
  display: flex;
  align-items: center;
  height: 100%;
}

.layout .header .search button {
  background-color: #b8238e;
  padding: 10px;
}

.layout .header .search button:hover {
  border: 1px solid #b8238e;
  background-color: #fff;
  color: #b8238e;
}

.layout .header .search button .ant-btn-icon {
  font-size: 20px;
}

.layout .header .menu {
  display: flex;
  justify-content: space-evenly;
}

.layout .header .location {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  line-height: 20px;
}

.layout .header .menu a,
.layout .header .location a {
  color: #000;
}

.layout .header .location div .ant-space {
  display: flex;
  justify-content: space-around;
}

.layout .header .location div .ant-space-item {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 100%;
}

.layout .header .location .title {
  color: #b8238e;
  text-decoration: underline;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0px;
}

/* Breadcrumb */
.layout .breadcrumb {
  margin: 15px 0;
}

/* Banner */
.layout .banner {
  background-color: #b8238e;
  color: #fff;
}

/* Products */
.ant-card-cover {
  width: 100%;
  height: 300px;
  padding: 40px;
}

.product-image {
  object-fit: contain;
  height: 100%;
  margin: 0 auto;
}

.product-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  height: 50px;
}

.product-price {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  color: #b8238e;
  line-height: 30px;
}

.product-add {
  border: 1px solid #b8238e;
  background-color: #fff;
  color: #b8238e;
}

.product-add:hover {
  border: 1px solid #b8238e !important;
  background-color: #b8238e;
  color: #fff !important;
}

.carousel-container .react-multiple-carousel__arrow::before {
  color: #b8238e;
}

.carousel-container .react-multiple-carousel__arrow:hover::before {
  color: #fff;
}

.carousel-container .react-multiple-carousel__arrow:hover {
  background-color: #b8238e;
}

.carousel-container .react-multiple-carousel__arrow {
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.product-item .item {
  margin: 10px 5px;
}

/* Cart */
.cart {
  display: flex;
  justify-content: center;
}

.cart-button {
  background-color: #b8238e !important;
}

.cart-button:hover {
  border: 1px solid #b8238e !important;
  background-color: #fff !important;
  color: #b8238e !important;
}

/* Footer */
.footer {
  text-align: center;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .ant-col {
    padding: 0 10px;
  }

  .layout .header {
    position: sticky;
    line-height: normal;
  }

  .layout .header .ant-row .ant-col {
    display: flex;
    justify-content: center;
  }

  .layout .header .ant-row .ant-col > div {
    width: 100%;
  }

  .layout .header .logo img {
    width: 100%;
  }

  .layout .header .location {
    align-items: flex-start;
  }

  .layout .breadcrumb,
  .layout .content {
    padding: 0 140px;
  }

  .layout .banner {
    padding: 20px 140px;
  }
}

@media screen and (min-width: 1024px) {
  .layout .header {
    padding: 10px;
  }
}

@media screen and (min-width: 1140px) {
  .layout .header {
    padding: 10px 20px;
  }
}
